<div class="container">
  <mat-card class="welcome-card">
    <div class="welcome-div">
      <h1 class="welcome">Home</h1>
      <mat-form-field class="search-bar">
        <span matPrefix> </span>
        <input
          type="tel"
          matInput
          placeholder="Search Creators or Content"
          name="search"
        />
        <button matSuffix mat-button><mat-icon>search</mat-icon></button>
      </mat-form-field>
      <button
        class="create-btn"
        mat-raised-button
        [routerLink]="['/create-post']"
        color="accent"
      >
        Create Post
      </button>
    </div>
  </mat-card>
  <mat-card class="home-menu">
    <ul style="list-style: none; padding-inline-start: 0">
      <li>menu item 1</li>
      <li>menu item 2</li>
      <li>menu item 3</li>
      <li>menu item 4</li>
      <li>menu item 5</li>
      <li>menu item 6</li>
    </ul>
  </mat-card>
  <mat-card class="home-menu-addl">
    <ul style="list-style: none; padding-inline-start: 0">
      <li>extra stuff 1</li>
      <li>extra stuff 2</li>
      <li>extra stuff 3</li>
      <li>extra stuff 4</li>
      <li>extra stuff 5</li>
      <li>extra stuff 6</li>
      <li>extra stuff 7</li>
      <li>extra stuff 8</li>
      <li>extra stuff 9</li>
      <li>extra stuff 10</li>
      <li>extra stuff 11</li>
      <li>extra stuff 12</li>
    </ul>
  </mat-card>
  <div class="home-feed">
    <app-post *ngFor="let postItem of homePosts" [post]="postItem"></app-post>
  </div>
  <div class="home-feed-ending">
    <span>That's all folks!</span>
  </div>
</div>
