<div class="container" *ngIf="creator !== undefined">
  <mat-card
    class="creator-bio"
    [style.background]="'url(' + coverPictureUrl + ')'"
  >
    <div class="creator-name-div">
      <h1 class="creator-name">{{ creator.userName }}</h1>
    </div>

    <div class="profile-picture-div">
      <img class="creator-profile-picture" [src]="profilePictureUrl" />
    </div>
    <button
      *ngIf="!myProfileFlag"
      [routerLink]="['/subscribe', creator.userName]"
      mat-raised-button
      color="accent"
      class="subscription-btn"
    >
      Subscribe
    </button>
    <button
      *ngIf="myProfileFlag"
      mat-raised-button
      class="subscription-btn"
      [routerLink]="['/create-post']"
      color="accent"
    >
      Create Post
    </button>
  </mat-card>
  <mat-card class="creator-info">
    <ul style="list-style: none; padding-inline-start: 0">
      <li *ngIf="creator.bio !== null">
        <span>{{ creator.bio }}</span>
      </li>
      <li><span class="info-label">Total Posts: </span>{{ totalPosts }}</li>
      <li>
        <span class="info-label">Joined on: </span
        >{{ creator.createdOn | date : "mediumDate" }}
      </li>
    </ul>
  </mat-card>
  <div class="creator-posts">
    <app-post
      *ngFor="let postItem of creatorPosts"
      [post]="postItem"
    ></app-post>
    <div class="empty" *ngIf="creatorPosts.length === 0">
      <span>Crickets....</span>
    </div>
  </div>
  <div class="creator-posts-ending" *ngIf="creatorPosts.length !== 0">
    <span>That's all folks!</span>
  </div>
</div>
