<div class="container">
  <mat-card class="welcome-card">
    <div class="welcome-div">
      <h1 class="welcome">Home</h1>
      <mat-form-field class="search-bar">
        <span matPrefix> </span>
        <input
          type="tel"
          matInput
          placeholder="Search Creators or Content"
          name="search"
        />
        <button matSuffix mat-button><mat-icon>search</mat-icon></button>
      </mat-form-field>
      <button
        class="create-btn"
        mat-raised-button
        [routerLink]="['/create-post']"
        color="accent"
      >
        Create Post
      </button>
    </div>
  </mat-card>
  <mat-card class="home-menu">
    <ul style="list-style: none; padding-inline-start: 0"></ul>
  </mat-card>
  <mat-card class="home-menu-addl">
    <ul style="list-style: none; padding-inline-start: 0"></ul>
  </mat-card>
  <div class="home-feed">
    <app-post
      *ngFor="let postItem of postList | async"
      [post]="postItem"
    ></app-post>
  </div>
  <div class="home-feed-ending">
    <span>That's all folks!</span>
  </div>
</div>
