<div class="reset-pwd-container">
  <mat-card class="reset-pwd-card">
    <mat-card-header>
      <mat-card-title> <h3>Reset Password</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="resetFormGroup">
        <mat-form-field>
          <mat-label>Registered Email Address</mat-label>
          <input
            matInput
            #passwordResetEmail
            type="email"
            required
            formControlName="email"
          />
          <mat-error *ngIf="errorHandling('email', 'required')">
            You must provide an <strong>email</strong>
          </mat-error>
          <mat-error *ngIf="errorHandling('email', 'email')">
            Email address is invalid
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="actions-div">
      <div class="action-group-div">
        <button
          mat-raised-button
          color="primary"
          (click)="
            validate() && authService.ForgotPassword(passwordResetEmail.value)
          "
        >
          Reset Password
        </button>
      </div>

      <div class="action-group-div">
        <span>Go back to&nbsp;</span
        ><button mat-raised-button color="accent" routerLink="/sign-in">
          Log In</button
        >&nbsp;?
      </div>
    </mat-card-actions>
  </mat-card>
</div>
