<div class="subscription-container">
  <mat-card class="subscription-card">
    <mat-card-header>
      <mat-card-title>Subscribe to {{ creatorUsername }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!subscribed" style="margin-top: 20px">
        <span
          >Choose from below subscriptions available from {{ creatorUsername }}:
        </span>
        <div>
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.levelName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description/Benefits</th>
              <td mat-cell *matCellDef="let element">
                {{ element.levelDescription }}
              </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let element">
                ${{ element.levelPrice }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <div style="margin-top: 50px">
          <form [formGroup]="subscriptionFormGroup">
            <mat-form-field>
              <mat-label>Choose a level</mat-label>
              <mat-select
                formControlName="creatorSbscriptionLevel"
                (selectionChange)="setSubscriptionPrice()"
              >
                <mat-option *ngFor="let level of levels" [value]="level.id">
                  {{ level.levelName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
        <div class="cost-display">
          <span>Total Amount = ${{ selectedSubscriptionCost }}</span>
        </div>
      </div>
      <div *ngIf="subscribed">Review your subscription</div>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <div class="actions-div">
          <button color="primary" mat-raised-button>Continue...</button>
        </div></mat-card-actions
      >
    </mat-card-footer>
  </mat-card>
</div>
