<mat-card class="post-card" *ngIf="post !== undefined">
  <mat-card-header>
    <span class="creator-details">
      <a [routerLink]="['/creator', post.CreatorName]">{{
        post.CreatorName
      }}</a>
      posted on
      {{ post.CreatedDate | date : "short" }}
    </span>
    <mat-card-title class="post-title">{{ post.Title }}</mat-card-title>
    <mat-card-subtitle class="post-description">{{
      post.Description
    }}</mat-card-subtitle>
  </mat-card-header>
  <img
    class="post-image"
    mat-card-image
    [src]="post.ImageUrl"
    *ngIf="post.ImageUrl !== undefined"
  />
  <mat-card-content
    *ngIf="post.Content !== undefined"
    class="post-content"
    [innerHtml]="post.Content"
  >
  </mat-card-content>
  <mat-card-actions>
    <mat-icon class="action-item" color="warn">{{
      post.IsLiked ? "favorite" : "favorite_border"
    }}</mat-icon>
    <mat-icon class="action-item" color="primary">chat_bubble_outline</mat-icon
    ><mat-icon class="action-item" color="black">share</mat-icon>
  </mat-card-actions></mat-card
>
