/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field {
  width: 100%;
}
.misc-bottom-padding {
  margin: 8px 0 20px;
}
.misc-bottom-padding mat-label {
  margin-right: 15px;
}
.mat-radio-label {
  margin: 0 15px 0 0;
}
.title-center {
  margin: 0 auto;
}
.button-wrapper {
  margin-top: 10px;
}

.mat-mdc-form-field {
  display: flex !important;
}

.success-snackbar {
  background: rgb(104, 224, 148) !important;
  color: white !important;
}
.success-snackbar button {
  background: rgb(104, 224, 148) !important;
  color: white !important;
  border: none !important;
}
.failure-snackbar {
  background: #fc756c !important;
  color: white !important;
}

.failure-snackbar button {
  background: #fc756c !important;
  color: white !important;
  border: none !important;
}

.mdc-text-field--disabled .mdc-text-field__input {
  color: rgba(0, 0, 0, 0.68);
}
.mdc-text-field--disabled .mdc-floating-label {
  color: rgba(0, 0, 0, 0.68);
}
