.no-post-comments {
  text-align: center;
  font-style: italic;
  color: rgb(97, 88, 88);
  padding: 30px;
}
.post-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comments-list-card {
  width: 52vw;
  padding: 5px;
  background-color: #fffbfb;
}

.comments-title {
  color: rgb(97, 88, 88);
  margin-top: 10px;
  font-weight: 400;
  padding-left: 15px;
}
