<div class="example-container">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon btn"
      (click)="snav.toggle(); onClick()"
      *ngIf="authService.isLoggedIn"
    >
      <div
        class="icon-bar"
        [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"
      ></div>
      <div
        class="icon-bar"
        [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"
      ></div>
      <div
        class="icon-bar"
        [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"
      ></div>
    </button>
    <span class="app-name" [routerLink]="['/home']"
      ><mat-icon>hotel_class</mat-icon>&nbsp; Content Star</span
    >
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="user-profile-nav-btn"
      #trigger="matMenuTrigger"
      [matMenuTriggerFor]="menu"
      *ngIf="authService.isLoggedIn && authService.userData as user"
    >
      <img
        class="user-image-thumbnail"
        [src]="user.photoURL ? user.photoURL : '/assets/dummy-user.png'"
      />
    </button>
    <button
      class="user-profile-nav-btn"
      mat-icon-button
      *ngIf="!authService.isLoggedIn"
    >
      <img class="user-image-thumbnail" src="/assets/dummy-user.png" />
    </button>
    <mat-menu #menu="matMenu">
      <mat-card
        class="user-card"
        *ngIf="authService.isLoggedIn && authService.userData as user"
      >
        <mat-card-header class="user-card-header">
          <div mat-card-avatar class="example-header-image">
            <img
              mat-card-image
              [src]="user.photoURL ? user.photoURL : '/assets/dummy-user.png'"
              alt="{{ user.displayName }}"
            />
          </div>
          <mat-card-title *ngIf="currentUserProfile">
            Hello,
            <strong>{{ currentUserProfile.name }}</strong></mat-card-title
          >
          <mat-card-subtitle>User Profile</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p *ngIf="currentUserProfile">
            User name: <strong>{{ currentUserProfile.userName }}</strong>
          </p>
          <p>
            Email: <strong>{{ user.email }}</strong>
          </p>
        </mat-card-content>
        <mat-card-actions class="user-card-actions">
          <button mat-button [routerLink]="['/settings']">
            <mat-icon>settings</mat-icon> Account Settings
          </button>
          <button mat-button (click)="authService.SignOut()">
            <mat-icon>logout</mat-icon> Logout
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="0"
  >
    <mat-sidenav #snav fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink=".">Nav Link 1</a>
        <a mat-list-item routerLink=".">Nav Link 2</a>
        <a mat-list-item routerLink=".">Nav Link 3</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
