<div *ngIf="gallery.length === 1">
  <img
    *ngIf="gallery[0].fileType === 'image'"
    class="post-image"
    mat-card-image
    [src]="gallery[0].url"
    [alt]="gallery[0].name + gallery[0].extension"
    [matTooltip]="gallery[0].name + gallery[0].extension"
  />
  <video
    *ngIf="gallery[0].fileType === 'video'"
    class="post-image"
    controls
    [src]="gallery[0].url"
    [matTooltip]="gallery[0].name + gallery[0].extension"
  >
    Your browser does not support videos
  </video>
</div>
<div
  *ngIf="gallery.length > 1 && sliderList.length > 0"
  #container
  [ngStyle]="{ width: 95 + '%' }"
  style="
    text-align: center;
    margin: 20px 20px 20px 20px;
    padding: 0;
    background-color: #181818;
  "
>
  <ng-image-slider
    #nav
    [images]="sliderList"
    [infinite]="false"
    [manageImageRatio]="true"
    [autoSlide]="1"
    [animationSpeed]="0.1"
    [imageSize]="{ width: 100 + '%', height: '500px', space: 0 }"
    slideImage="1"
  ></ng-image-slider>
</div>
<div *ngFor="let audio of audioFileList" class="audio-container">
  <span class="audio-details" [matTooltip]="audio.name + audio.extension"
    ><mat-icon>music_note</mat-icon> {{ audio.name }}{{ audio.extension }}</span
  >
  <audio controls="controls" style="width: 60%">
    <source [src]="audio.url" type="audio/mpeg" />
  </audio>
</div>
<div class="misc-file-container" *ngFor="let miscFile of miscFileList">
  <span
    class="misc-file-details"
    [matTooltip]="miscFile.name + miscFile.extension"
    ><mat-icon>description</mat-icon> {{ miscFile.name
    }}{{ miscFile.extension }}</span
  >
  <a [href]="miscFile.fileDownloadUrl" [download]="miscFile.name">
    <mat-icon matTooltip="Download File">download</mat-icon></a
  >
</div>
